.form-container {
  width: 400px;
  margin:auto ;
  margin-top: 10%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.inputSection{
  margin-bottom: 20px;
}
.form-section {
  margin-bottom: 20px;
}

.form-section input {
  width: 100%;
  margin-top: 5px;
}

.form-section h2 {
  margin-bottom: 10px;
}

.form-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: red;
  margin: 10px 0;
}
